.logo1{
    position: absolute;
    top:5px;
    height: 150px;
}


header h2 a { 
    text-align: right;
    font-size: 31px;
    font-family: Georgia;
    float: right;
    text-decoration: none;
    color: black;
    
}
#Accueil{
    float:right;
    margin: 0px 10px 0px 0px;
    border: 2px solid rgba(255, 255, 255, 0);
    text-decoration: underline;
}
#Forum {
    float:right;
    margin: 0px 10px 0px 0px;
    border: 2px solid rgba(255, 255, 255, 0);
}
#Contact{
    float:right;
    margin: 0px 10px 0px 0px;
    border: 2px solid rgba(255, 255, 255, 0);
}
#Connexion{
    float:right;
    margin: 0px 10px 0px 0px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
a:hover{color:rgb(203, 228, 248)}
connexion:hover{color: rgb()}


}
body { 
    background-color: rgb(54,147,214) ;
}
h1{
    text-align: center;
    font-family: sylfaen;
}

.bloc-texte {
    display: block;
    width: 98%;
    height: 60%;
    background-color: white;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 20px;
}

div {
    font-family: georgia;
    }


footer{
    background-color: rgb(54, 147, 214);
    margin:-8px;
    height: 100%;
}

#box1 {
    display: flex;
    justify-content: space-around;
}

body{
    background-color: rgb(54, 147, 214);
}
#localisation{
    text-decoration: underline;
}
#email{
    text-decoration: underline;
}

#telephone{
    text-decoration: underline;
}

.logoBAS{
    height: 100px;
}

.logoBAS2{
    height: 90px;
}

#box1{
    font-family: georgia;
    color: white;
    height: 90px;
}

#Mentions{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: georgia;
}
