body { color:rgb(115,178,255);
    background-color: rgb(54,147,214);
    font-family: Georgia ;
}

.mot_de_passe_oublie  { 
    display: block;
    justify-content: space-between;
    text-align: center;
    color:rgb(0,0,0);
    font-family: Georgia;
    font-size: 16px;
}

input[type="email"] {
    font-size: 14px;
    padding: 20px 20px;
    height: 50px;
    border: none;
    border-bottom: solid 1px rgb(115,178,255);
    background: rgb(255,255,255);
    min-width: 280px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: rgb(0,0,0);
    font-family: Georgia;
    font-weight:400;  
}

input[type="email"]:focus {
    border-bottom: solid 2px rgb(0,0,0);
    outline:0;
}

input[type="submit"] {
    font-size: 14px;
    padding: 0;
    height: 40px;
    background: rgb(255,255,255);
    width: 160px;
    box-sizing: border-box;
    color: rgb(115,178,255);
    font-family: Georgia;
    font-weight:400;  
    border-radius: 20px
}

.floating-label {
    position: relative;
    margin-bottom: 10px;
}

.floating-label label {
    position: absolute;
    top: calc(50% -7px);
    opacity: 0.5;
    transition; all 0.3s ease;
}

.floating-label input:placeholder-shown {
    padding: 28px 0px 12px 0px;
}

.floating-label input:placeholder-shown + label {
    transform-origin: left bottom;
    transform: translate(0, 30px) scale(1.5);
    opacity: 0.8;
}
