.color-sample {
    display: block;
    width: 100%+8px;
    height: 60%;
    cursor: pointer;
    background-color: white;
    margin: -8px;
}


#a_propos{
    text-decoration: underline;
    font-family: Georgia;
    text-align: center;
    color:white;
    font-size: 30px;
}

#texte_a_propos{
    width: fit-content;
    font-family: Georgia;
    text-align: center;
    color:white;
    font-size: 20px;
}

#project{
    text-decoration: underline;
    font-family: Georgia;
    text-align: center;
    color: rgb(54, 147, 214);
    font-size: 30px;
}

.galerie-photo{
    width: 60%;
}